bin/
obj/
ipch/
.vs/
help/console.chm
help/html/changelog.html
help/xx*

*.aps
*.user
*.opensdf
*.sdf
*.VC.db
*.suo
*.opendb
*.log

*.nupkg

*~
*.bak
*.orig
*.swp
*.chw

l10n/*/res/
l10n/*/resource.h
l10n/*/*.ucs2.rc

icons/*/

Backup/
